.embla {
    position: relative
}

.embla__viewport {
    overflow: hidden
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y
}

.embla__slide {
    min-width: 0;
    position: relative
}

.embla__slide__img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.embla__button {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    touch-action: manipulation;
    text-decoration: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 3rem;
    height: 3rem
}

.embla__button.embla__button--prev,
.embla__button.embla__button--next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.embla__button:disabled {
    opacity: .3
}

.embla__button__svg {
    width: 65%;
    height: 65%
}

.embla__dot {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    border: 0;
    padding: 0;
    width: 7px;
    height: 7px;
    align-items: center;
    margin: 0 4px
}

.embla__dots {
    z-index: 1;
    bottom: 20px;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.embla__dot:after {
    border-radius: 50%;
    width: 100%;
    height: 7px;
    content: ""
}

.rdp {
    --rdp-cell-size: 40px;
    --rdp-caption-font-size: 18px;
    --rdp-accent-color: #0000ff;
    --rdp-background-color: #e7edff;
    --rdp-accent-color-dark: #3003e1;
    --rdp-background-color-dark: #180270;
    --rdp-outline: 2px solid var(--rdp-accent-color);
    --rdp-outline-selected: 3px solid var(--rdp-accent-color);
    --rdp-selected-color: #fff;
    margin: 1em
}

.rdp-vhidden {
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: absolute !important;
    top: 0;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    border: 0 !important
}

.rdp-button_reset {
    appearance: none;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: default;
    color: inherit;
    background: none;
    font: inherit;
    -moz-appearance: none;
    -webkit-appearance: none
}

.rdp-button_reset:focus-visible {
    outline: none
}

.rdp-button {
    border: 2px solid transparent
}

.rdp-button[disabled]:not(.rdp-day_selected) {
    opacity: .25
}

.rdp-button:not([disabled]) {
    cursor: pointer
}

.rdp-button:focus-visible:not([disabled]) {
    color: inherit;
    background-color: var(--rdp-background-color);
    border: var(--rdp-outline)
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
    background-color: var(--rdp-background-color)
}

.rdp-months {
    display: flex
}

.rdp-month {
    margin: 0 1em
}

.rdp-month:first-child {
    margin-left: 0
}

.rdp-month:last-child {
    margin-right: 0
}

.rdp-table {
    margin: 0;
    max-width: calc(var(--rdp-cell-size) * 7);
    border-collapse: collapse
}

.rdp-with_weeknumber .rdp-table {
    max-width: calc(var(--rdp-cell-size) * 8);
    border-collapse: collapse
}

.rdp-caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    text-align: left
}

.rdp-multiple_months .rdp-caption {
    position: relative;
    display: block;
    text-align: center
}

.rdp-caption_dropdowns {
    position: relative;
    display: inline-flex
}

.rdp-caption_label {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0 .25em;
    white-space: nowrap;
    color: currentColor;
    border: 0;
    border: 2px solid transparent;
    font-family: inherit;
    font-size: var(--rdp-caption-font-size);
    font-weight: 700
}

.rdp-nav {
    white-space: nowrap
}

.rdp-multiple_months .rdp-caption_start .rdp-nav {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%)
}

.rdp-multiple_months .rdp-caption_end .rdp-nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%)
}

.rdp-nav_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--rdp-cell-size);
    height: var(--rdp-cell-size);
    padding: .25em;
    border-radius: 100%
}

.rdp-dropdown_year,
.rdp-dropdown_month {
    position: relative;
    display: inline-flex;
    align-items: center
}

.rdp-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: inherit;
    opacity: 0;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.rdp-dropdown[disabled] {
    opacity: unset;
    color: unset
}

.rdp-dropdown:focus-visible:not([disabled])+.rdp-caption_label {
    background-color: var(--rdp-background-color);
    border: var(--rdp-outline);
    border-radius: 6px
}

.rdp-dropdown_icon {
    margin: 0 0 0 5px
}

.rdp-head {
    border: 0
}

.rdp-head_row,
.rdp-row {
    height: 100%
}

.rdp-head_cell {
    vertical-align: middle;
    font-size: .75em;
    font-weight: 700;
    text-align: center;
    height: 100%;
    height: var(--rdp-cell-size);
    padding: 0;
    text-transform: uppercase
}

.rdp-tbody {
    border: 0
}

.rdp-tfoot {
    margin: .5em
}

.rdp-cell {
    width: var(--rdp-cell-size);
    height: 100%;
    height: var(--rdp-cell-size);
    padding: 0;
    text-align: center
}

.rdp-weeknumber {
    font-size: .75em
}

.rdp-weeknumber,
.rdp-day {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: var(--rdp-cell-size);
    max-width: var(--rdp-cell-size);
    height: var(--rdp-cell-size);
    margin: 0;
    border: 2px solid transparent;
    border-radius: 100%
}

.rdp-day_today:not(.rdp-day_outside) {
    font-weight: 700
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
    color: var(--rdp-selected-color);
    opacity: 1;
    background-color: var(--rdp-accent-color)
}

.rdp-day_outside {
    opacity: .5
}

.rdp-day_selected:focus-visible {
    outline: var(--rdp-outline);
    outline-offset: 2px;
    z-index: 1
}

.rdp:not([dir=rtl]) .rdp-day_range_start:not(.rdp-day_range_end) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.rdp:not([dir=rtl]) .rdp-day_range_end:not(.rdp-day_range_start) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.rdp[dir=rtl] .rdp-day_range_start:not(.rdp-day_range_end) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.rdp[dir=rtl] .rdp-day_range_end:not(.rdp-day_range_start) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.rdp-day_range_end.rdp-day_range_start {
    border-radius: 100%
}

.rdp-day_range_middle {
    border-radius: 0
}

.rdp {
    margin: 0;
    --rdp-cell-size: auto;
    --rdp-caption-font-size: 18px;
    --rdp-accent-color: #1a62ed;
    --rdp-background-color: rgb(0 80 235 / .2);
    --rdp-accent-color-dark: #0048d4;
    --rdp-background-color-dark: rgb(0 80 235 / .2);
    --rdp-outline: 2px solid var(--rdp-accent-color);
    --rdp-outline-selected: 3px solid var(--rdp-accent-color);
    --rdp-selected-color: #fff
}

.rdp-table,
.rdp-month {
    width: 100%
}

.rdp-caption {
    padding-bottom: .5rem
}

.rdp-head_cell {
    width: 7rem;
    padding: .25rem;
    --tw-text-opacity: 1;
    color: rgb(113 113 122 / var(--tw-text-opacity))
}

.rdp-cell {
    padding: 0
}

.rdp-nav_button {
    margin-left: .25rem;
    margin-right: .25rem;
    padding: .5rem
}

@media (hover: hover) and (pointer: fine) {
    .rdp-nav_button:hover {
        background-color: hsl(var(--color-primary-500) / .1)
    }
}

.rdp-nav_button:focus {
    background-color: hsl(var(--color-primary-500) / .2)
}

.rdp-button_reset.rdp-button.rdp-nav_button.rdp-nav_button_previous:where([dir=rtl], [dir=rtl] *) {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rdp-button_reset.rdp-button.rdp-nav_button.rdp-nav_button_next:where([dir=rtl], [dir=rtl] *) {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rdp-button_reset.rdp-button.rdp-day {
    width: 100%;
    border-radius: .375rem;
    padding-top: .5rem;
    padding-bottom: .5rem
}

@media (hover: hover) and (pointer: fine) {
    .rdp-button_reset.rdp-button.rdp-day:hover {
        background-color: hsl(var(--color-primary-500) / .1)
    }
}

.rdp-button_reset.rdp-button.rdp-day:focus {
    background-color: hsl(var(--color-primary-500) / .2)
}

.rdp-button_reset.rdp-button.rdp-day.rdp-day_selected {
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: hsl(var(--color-primary-500) / var(--tw-border-opacity));
    background-color: hsl(var(--color-primary-500) / .2);
    --tw-text-opacity: 1;
    color: hsl(var(--color-primary-500) / var(--tw-text-opacity))
}

.rdp-button_reset.rdp-button.rdp-day.rdp-day_selected:focus {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--color-primary-500) / var(--tw-bg-opacity));
    background-color: hsl(var(--color-primary-500) / .4)
}

.rdp-button_reset.rdp-button.rdp-day.rdp-day_selected.rdp-day_range_start,
.rdp-button_reset.rdp-button.rdp-day.rdp-day_selected.rdp-day_range_end {
    border-style: none;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--color-primary-500) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--color-primary-contrast) / var(--tw-text-opacity))
}

.rdp-button_reset.rdp-button.rdp-day.rdp-day_selected.rdp-day_range_start:where([dir=rtl], [dir=rtl] *) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem
}

.rdp-button_reset.rdp-button.rdp-day.rdp-day_selected.rdp-day_range_end:where([dir=rtl], [dir=rtl] *) {
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.rdp-button_reset.rdp-button.rdp-day.rdp-day_selected.rdp-day_range_middle {
    border-radius: 0;
    border-style: none;
    background-color: hsl(var(--color-primary-500) / .5);
    --tw-text-opacity: 1;
    color: hsl(var(--color-primary-contrast) / var(--tw-text-opacity))
}

.rdp-button_reset.rdp-button.rdp-day.rdp-day_selected.rdp-day_range_end.rdp-day_outside {
    opacity: 1
}